extends layout

block content
    h1 #{title}
    .general-container
        if carrito.length > 0
            ul(class='carrito-list')
                each item in carrito
                    li
                        img(src=`${item.imagen}`)
                        span= item.nombre
                        span= `Cantidad: ${item.cantidad}`
                        span= `Total: \$${(item.precio * item.cantidad).toFixed(2)}`
            div(class='carrito-table')
                table
                    thead
                        tr
                            th Producto
                            th Cantidad
                            th Total

                    tbody
                        - let total = 0;
                        each item in carrito
                            - total += (item.precio * item.cantidad);
                            tr
                                td
                                    .producto-cell
                                        img(src=`${item.imagen}`)
                                        span= item.nombre
                                td
                                    .action-buttons
                                        form(action=`/actualizar-cantidad/${item.id}/-1`, method='POST')
                                            button(type='submit')
                                                i(class="material-symbols-rounded") remove
                                        div(class='quantity')
                                            span= item.cantidad
                                        form(action=`/actualizar-cantidad/${item.id}/1`, method='POST')
                                            button(type='submit')
                                                i(class="material-symbols-rounded") add
                                    .action-buttons
                                        form(action=`/eliminar-del-carrito/${item.id}`, method='POST')
                                            button(id='eliminar-del-carrito' type='submit') Eliminar
                                td= `\$ ${(item.precio * item.cantidad).toFixed(2)}`
            .procesar-compra-container
                strong= 'TOTAL:\n'
                span= `\$${total.toFixed(2)} MXN (SIN IVA)`
                form(action='/detalle-compra' method='GET')
                    button.procesar-compra-button(type='submit') PAGAR
        else
            p No hay productos en el carrito.

    script.
        window.addEventListener('resize', function() {
            if (window.innerWidth <= 768) {
                document.querySelector('.carrito-list').style.display = 'block';
                document.querySelector('.carrito-table').style.display = 'none';
            } else {
                document.querySelector('.carrito-list').style.display = 'none';
                document.querySelector('.carrito-table').style.display = 'block';
            }
        });
        // Ejecutar la función al cargar la página para establecer el estado inicial
        window.dispatchEvent(new Event('resize'));
